{% extends "base_css.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Lens Imaging</title>
<meta charset="utf-8">
<meta name = "format-detection" content = "telephone=no" />
<script>
 $(window).load(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
 });
</script>
<!--[if lt IE 8]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<![endif]-->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body class="" id="top">
<!--==============================
              header
=================================-->
<div class="main">
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1 class="logo">
        <a href="index.html">光学实验<span>Online Optics Laboratory</span>
        </a>
      </h1>
    </div>
    <div class="clear"></div>
  </div>
  <section id="stuck_container">
  <!--==============================
              Stuck menu
  =================================-->
    <div class="container_12">
        <div class="grid_12">
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="/">Home</a></li>
               <li><a href="/interference/">Interference</a></li>
               <li class="current"><a href="/lens/">Lens Imaging</a></li>
               <li><a href="contacts.html">About Us</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>
         <div class="clear"></div>
     </div>
     <div class="clear"></div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section id="content"><div class="ic"></div>
  <div class="container_12">
    <div class="grid_9">
      {% load staticfiles %}
      <img src="{% static 'lens/pos.jpg' %}" width='400' height='250' class="fleft">
      <form id="contact-form" action="/lens/query/" method="POST">
      {% csrf_token %}
          <div class="contact-form-loader"></div>
          <div class="select_format">
              <td><input type="text" placeholder="Light position (x):" name="light.x">    </td>
              <td><input type="text" placeholder="Light position (y):" name="light.y">    </td>
          </div>
          <div>
            <td><input type="text" placeholder="Len 1 position" name="position.foo"></td>
            <td><input type="text" placeholder="focal length" name="focal.foo"></td>
          </div>
            <!-- The following code kinda disobeyed DRY principle of python -->
          <div>
            <td><input type="text" placeholder="Len 1 position" name="position.bar"></td>
            <td><input type="text" placeholder="focal length" name="focal.bar"></td>
          </div>
          <div class="ta__right">
            <input type="submit" name="back" value="Clear">
            <input type="submit" name="submit" value="Submit">
          </div>
        </form>
    </div>
    <div class="grid_12">
    <div class="sep-1 offset__1"></div>
    </div>
    <div class="clear"></div>
  </div>
</section>
<!--==============================
              footer_top
=================================-->
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container_12">
    <div class="grid_12">
      <div class="sub-copy">Online Optics Laboratory &copy; <span id="copyright-year"></span> | <a href="#">by Lifan Gong, Zhengxu Chen and Yiming Fan.</a> <br> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>, modified by Yiming Fan.</div>
    </div>
    <div class="clear"></div>
  </div>
</footer>
<a href="#" id="toTop" class="fa fa-angle-up"></a>
</body>
</html>
{% endblock %}