{% extends "base_css.html" %}
{% block content %}
<h1>{{ label }}</h1>
<p>{{ labelplus }}</p>
<form action="/lens/query/" method="POST">
	{% csrf_token %}
	<div class="select_format">
        <td>Light source position:</td>
        <td><input type="text" name="light.x">		</td>
        <td><input type="text" name="light.y">		</td>
    </div>
	<div>
		<td>Len 1 position:<input type="text" name="position.foo"></td>
		<td>Focal length:<input type="text" name="focal.foo"></td>
	</div>
	<!-- The following code kinda disobeyed DRY principle of python -->
	<div>
		<td>Len 2 position:<input type="text" name="position.bar"></td>
		<td>Focal length:<input type="text" name="focal.bar"></td>
	</div>
  	<input type="submit" name="submit" value="Submit">
  	<input type="submit" name="back" value="Return">
</form>
{% load staticfiles %}
<img src="{% static 'lens/pos.jpg' %}" width='400' height='250'/>
<!--<img src='./static/lens/pos.jpg' width='400' height='250' />-->
{% endblock %}