<html>
<style type="text/css">
body {
	color: #000;
	text-align: center;
	background: #42602D;
	margin: 0;
	font-family: Verdana;
}
h1 {
	font-size: 48pt;
	padding: 1em;
	background: #86C166;
}
p {
	padding: 1em 2em;
	margin: 0;
	font-size: 32pt;
	background: #42602D;
}
input, button {
	font-family: courier;
	font-size: 18px;
	border: 5;
	vertical-align: middle;
	margin: 10px;
	line-height: 28px;
	background-color: #7BA23F
	}
form {
	vertical-align: middle;
	font-size: 24px;
}
</style>
<body>
{% block content %}
{% endblock %}
</body>
</html>